Source: io.elementary.dpms-helper
Section: x11
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: debhelper (>= 10.5.1), desktop-file-utils, libglib2.0-dev, meson
Standards-Version: 4.1.1

Package: io.elementary.dpms-helper
Architecture: all
Depends: x11-xserver-utils, ${misc:Depends}
Description: script and settings for X DPMS
 Basic script and GSettings for managing
 X Display Power Management Signaling when
 GNOME Settings Daemon's Power plugin should not.

Package: elementary-dpms-helper
Architecture: all
Depends: io.elementary.dpms-helper, ${misc:Depends}
Priority: optional
Section: oldlibs
Description: Dummy transitional package
 This package is transitional to io.elementary.dpms-helper, it is safe to remove.
